<% include ./header %>

<header class="intro-header" style="background-image: url('/images/post-bg.jpg')">
       <div class="container">
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   <div class="post-heading">
                       <h1>All people</h1>

                   </div>
               </div>
           </div>
       </div>
   </header>

   <!-- Post Content -->

       <div class="container">
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <%if(global.member){%>
                 <%if(schedulelist){%>
                   <%schedulelist.forEach(function(schedule){%>
                   <div class="post-preview">
                     <li>
                       SID:<%= schedule.SID %>
                     </li>
                     <li>
                       Mon9~12:<%= schedule.Mon_9_12 %>
                     </li>
                     <li>
                       Mon13~17:<%= schedule.Mon_13_17 %>
                     </li>
                     <li>
                       Tue9~12:<%= schedule.Tue_9_12 %>
                     </li>
                     <li>
                       Tue13~17:<%= schedule.Tue_13_17 %>
                     </li>
                     <li>
                       Wed9~12:<%= schedule.Wed_9_12 %>
                     </li>
                     <li>
                       Wed13~17:<%= schedule.Wed_13_17 %>
                     </li>
                     <li>
                       Thu9~12:<%= schedule.Thu_9_12 %>
                     </li>
                     <li>
                       Thu13~17:<%= schedule.Thu_13_17 %>
                     </li>
                     <li>
                       Fri9~12:<%= schedule.Fri_9_12 %>
                     </li>
                     <li>
                       Fri13~17:<%= schedule.Fri_13_17 %>
                     </li>

                   </div>
                   <hr>
             <%  }); %>
               <%}}%>
               </div>
           </div>
       </div>


   <hr>
<% include ./footer %>
