<% include ./header %>

<header class="intro-header" style="background-image: url('/images/post-bg.jpg')">
       <div class="container">
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   <div class="post-heading">
                       <h1><%= status.Email %></h1>

                   </div>
               </div>
           </div>
       </div>
   </header>

   <!-- Post Content -->

       <div class="container">

           <div class="row">
               <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                  <li>
                    SID:<%= status.SID %>
                  </li>
                  <li>
                    Name:<%= status.Name %>
                  </li>
                  <li>
                    Department:<%= status.Department %>
                  </li>
                  <li>
                    Grade:<%= status.Grade %>
                  </li>
                  <li>
                    Sex:<%= status.Sex %>
                  </li>
                  <li>
                    Phone:<%= status.Phone %>
                  </li>
                  <li>
                    Email:<%= status.Email %>
                  </li>
                  <li>
                    MyHr:<%= status.myhr %>
                  </li>
               </div>
           </div>

       </div>
       <%if(global.member){%>


       <form action ="/statusshow/show" method="POST">

          <button type="submit" class="btn btn-default">Show All Status</button>
       </form>
       <%}%>
   <hr>
<% include ./footer %>
